.welcome-header {
  margin: 90px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome-header__title {
  font-size: 20px;
  margin-bottom: 30px;
}

.welcome-header__text {
  font-size: 15px;
  opacity: 0.55;
  width: 60%;
  text-align: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

#login-form input {
  padding: 20px 0px;
  border: none;
  margin-bottom: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  border-radius: 5px;
}

#login-form a {
  /* color: rgba(0, 0, 0, 0.7); */
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}
